%p
  = "Welcome to Evergreen Labs Food Trading Platform!"
%br
%br
  %div{:style => "width: 800px;"}
    #geolocation{:style => "width: 800px; height: 400px;"}

%script
  = render partial: 'scripts/home'